{% extends 'base.html' %}
{% load i18n %}


{% block content %}
<div class="pull-right">
<a class="btn btn-primary" href="{% url 'transaction-create' %}">
    <i class="fa fa-plus-circle"></i>&nbsp;{% trans 'Create' %}
</a>
</div>
<br />
<br />
<br />
<table class="table table-striped table-hover table-transactions{% if results|length > 0 %} non-empty{% endif %}">
    <thead>
        <tr>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'Payee' %}</th>
            <th>{% trans 'Category' %}</th>
            <th>{% trans 'Amount' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for item in results %}
    <tr>
        <td>{{ item.date|date:'m/d/Y' }}</td>
        <td>{{ item.payee.name }}</td>
        <td>{{ item.category.name }}</td>
        <td class="transaction-listing transaction-listing-{{ item.transaction_type }}">{{ item.account.currency }} {{ item.amount }}</td>
        <td>
            <a class="btn btn-default btn-xs" href="{% url 'transaction-edit' item.id %}"><i class="fa fa-edit"></i>&nbsp;{% trans 'Edit' %}</a>

            <a class="btn btn-danger btn-xs" href="{% url 'transaction-delete' item.id %}"><i class="fa fa-trash"></i>&nbsp;{% trans 'Delete' %}</a>
        </td>
    </tr>
    {% empty %}
    <tr class="warning">
        <td colspan="5">{% trans 'No results found' %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
